.vs
.vscode
build/
*.suo
*.user
*.sln.docstates
*.pdb
*.obj
*.exe
*.cache
*.log
*.vspscc
out/
CMakeCache.txt
Makefile
cmake_install.cmake
CTestTestfile.cmake
CMakeFiles/
Testing/
Carinfo-Manager-Server